In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_geo = pd.read_csv('File CSV/geodata.csv')
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5411 entries, 0 to 5410
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       5411 non-null   int64
 1   lat      5411 non-null   float64
 2   lon      5411 non-null   float64
 3   country  5379 non-null   object
 4   city     3727 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 211.5+ KB

In [3]:
df_geo_nan = df_geo[df_geo['country'].isna()].groupby(['lat','lon']).count()
df_geo_nan.drop(columns=['id','city'],inplace=True)

In [4]:
nan_country = ['ATA',np.nan,'IDN',np.nan,np.nan,'CAF','ETH','KHM','MEX','USA','USA','CHN','USA','DEU','RUS','NOR']

In [5]:
df_geo_nan['country'] = nan_country
df_geo_nan.reset_index(inplace=True)

In [6]:
df_geo_nan.head()

         lat         lon country
0 -78.158560   16.406260     ATA
1  -6.288693   53.337853     NaN
2  -6.152261  106.775995     IDN
3   0.000000    0.000000     NaN
4   2.399227   48.870833     NaN

In [7]:
# Combine

geodata_clean = df_geo.merge(df_geo_nan,how='left',left_on=['lat','lon'],right_on=['lat','lon'])

In [8]:
geodata_clean.head()

     id       lat      lon country_x    city country_y
0    46  51.50642 -0.12721       GBR  London       NaN
1   322  51.50642 -0.12721       GBR  London       NaN
2   344  51.50642 -0.12721       GBR  London       NaN
3   717  51.50642 -0.12721       GBR  London       NaN
4  1136  51.50642 -0.12721       GBR  London       NaN

In [9]:
a = []
for i in range(len(geodata_clean['id'])):
    if pd.isnull(geodata_clean['country_x'][i]) == True:
        geodata_clean['country_x'][i] = geodata_clean['country_y'][i]

<ipython-input-9-70c2f7ccc1b1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geodata_clean['country_x'][i] = geodata_clean['country_y'][i]

In [10]:
geodata_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5411 entries, 0 to 5410
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5411 non-null   int64
 1   lat        5411 non-null   float64
 2   lon        5411 non-null   float64
 3   country_x  5408 non-null   object
 4   city       3727 non-null   object
 5   country_y  29 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 455.9+ KB

In [11]:
geodata_clean['country'] = geodata_clean['country_x']
geodata_clean.drop(columns=['country_x','country_y'],inplace=True)
geodata_clean.to_csv('File CSV/geodata_clean.csv')